<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            CinemaScope
        </a>

        <a href="/users/login" class="btn custom-btn d-lg-none ms-auto me-4">SIGN IN NOW</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                <form action="/movies" method="get" id="search-form--header">
                    <input type="text" class = "search-field" name="keywords" placeholder="Search...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </ul>
            {{#if user}}
                <div class="dropdown username-header">
                    {{#with user}}
                    <button class="dropbtn username--header" style="cursor: pointer;">{{displayName}}</button>
                    {{/with}}
                    <div class="dropdown-content">
                        <a href="/users/profile" style="cursor: pointer;">Trang cá nhân</a>
                        <a href="/users/logout" style="cursor: pointer;">Đăng xuất</a>
                    </div>
                </div>
            
            {{!-- <a href="/users/profile">
                <img src="/img/icons/user.png" class="img-avatar img-avatar--header" alt="" /> --}}
            {{!-- </a> --}}
        </div>
        {{else}}
        <a href="/users/login" class="btn custom-btn d-lg-block d-none">SIGN IN</a>
        {{/if}}
    </div>
    </div>
</nav>